@model WebUI.Models.User

@if (Model != null) { 
   <div class="navbar-right">
       @Html.ActionLink("Exit", "OutBtn1", "Account", new { returnUrl = Request.Url.PathAndQuery },
      new { @class = "btn btn-default navbar-btn " }
      )
   </div>
}