@model WebUI.Models.User

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>О сайте</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <p>Наш сайт предоставляет услуги по продаже автомобилей высшего качеста!</p>

        <h3>Контакты</h3>
        <address>
            KhNUCEA<br />
            Kharkiv, Ukraine<br />
            <abbr title="Phone">Phone:</abbr>
            +38(050)-288-0320
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">wnnrvb@gmail.com</a><br />
        </address>
    </dl>
</div>
