@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "AutoStore: Форма заказа";
}

<h2>Оформить заказ</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Данные</h3>
    <div class="form-group">
        <label>Ваше Имя:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Адрес доставки</h3>
    foreach(var property in ViewData.ModelMetadata.Properties)
    {
        if(property.PropertyName != "Name" )
        {
            <div class="form-group">
                <label>
                    @(property.DisplayName ?? property.DisplayName)
                </label>
                @Html.TextBox(property.PropertyName, null, new { @class="form-control" })
            </div>
        }
    }

<div class="text-center">
    <input class="btn btn-primary"type="submit" value="Обработать заказ" />
</div>
}